<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="t1" value="O ticket foi aberto para um de nossos analistas verificar."/>
    <add key="t2" value="O ticket foi aberto para um de nossos analistas verificar o acesso, assim que aprovado."/>
    <add key="t3" value="O ticket foi aberto para um de nossos analistas verificar a gravação."/>
  </appSettings>
<startup>
  <supportedRuntime version="4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
</configuration>